# Introdução ao Projeto

### Cenário

Você é um analista de dados júnior que trabalha na equipe de analistas de marketing da Cyclistic, uma empresa de compartilhamento de bicicletas em Chicago. <span style="color:yellow"><strong>O diretor de marketing acredita que o sucesso futuro da empresa depende da maximização do número de planos anuais contratados. Portanto, sua equipe quer entender como os ciclistas casuais e os membros anuais usam as bicicletas da Cyclistic de forma diferente. A partir desses insights, sua equipe criará uma nova estratégia de marketing para converter passageiros casuais em membros anuais.</span></strong> Mas, primeiro, os executivos da Cyclistic devem aprovar suas recomendações que, portanto, devem ser apoiadas com insights de dados convincentes e visualizações de dados profissionais.

### Sobre a empresa

Sobre a empresa
Em 2016, a Cyclistic lançou uma oferta bem-sucedida de compartilhamento de bicicletas. Desde então, o programa cresceu para uma <span style="color:yellow"><strong>frota de 5.824 bicicletas com rastreamento geográfico e bloqueio dentro de uma rede de 692 estações em Chicago</strong></span>. As bicicletas podem ser desbloqueadas em uma estação e devolvidas em qualquer outra estação do sistema a qualquer momento.

Até agora, a estratégia de marketing da Cyclistic baseava-se na conscientização geral e no apelo a amplos segmentos de consumidores. Uma abordagem que ajudou a tornar essas coisas possíveis foi a flexibilidade de seus planos de preços: passes de viagem única, passes de dia inteiro e planos anuais. Os clientes que adquirem passes de viagem única ou de dia inteiro são chamados de passageiros casuais. Os clientes que adquirem planos anuais são membros Cyclistic.

<span style="color:yellow"><strong>Os analistas financeiros da Cyclistic concluíram que os membros anuais são muito mais lucrativos do que os passageiros casuais.</span></strong> Embora a flexibilidade de preços ajude a Cyclistic a atrair mais clientes, <span style="color:yellow"><strong>Lily Moreno acredita que maximizar o número de membros anuais será a chave para o crescimento futuro.</span></strong> Em vez de criar uma campanha de marketing voltada para novos clientes, ela acredita que há uma boa chance de <span style="color:yellow"><strong>converter passageiros casuais em membros.</span></strong> Ela observa que os ciclistas casuais já estão cientes do programa Cyclistic e escolheram a Cyclistic para suas necessidades de mobilidade.

A Lily estabeleceu um objetivo claro: criar estratégias de marketing destinadas a converter passageiros casuais em membros anuais. Para fazer isso, no entanto, a equipe de analistas de marketing precisa entender melhor como os membros anuais e os passageiros casuais diferem, por que os passageiros casuais iriam querer adquirir um plano e como a mídia digital poderia afetar suas táticas de marketing. A Lily e sua equipe estão interessados em analisar os dados históricos de trajetos de bicicleta da Cyclistic para identificar tendências.

# Objetivo do Projeto

Criar um relatório com as entregas a seguir:
Fase 1 Perguntar    - Uma declaração clara da tarefa de negócios
Fase 2 Preparar     - Coleta e descrição de todas as fontes de dados usadas e metricas de negocios
Fase 3 Processar    - Limpeza dos dados, determinar o viés dos dados e documentar qualquer limpeza ou manipulação de dados
Fase 4 Analise      - Um resumo da análise: O que os dados me dizem? Revelar problemas e oportunidades.
Fase 5 Compartilhar - Comunicar efetivamente o relatorio com storytelling, justificando as visualizações e explicando as descobertas-chave.
Fase 6 Agir         - Três principais recomendações com base nas etapas anteriores.

# Fase 1 - Perguntar
Definindo problemas de negocios e perguntas importantes.

Principal problema de negócio a ser resolvido?
    Transformar clientes casuais em clientes membros.
Quais são as partes interessadas?
    Auxiliar a equipe de marketing a tomar decisões para conversão de casuais para membros.
Perguntas a serem respondidas com a analise:
1.	Como os membros anuais e os ciclistas casuais usam as bicicletas da Cyclistic de forma diferente?
2.	Por que os passageiros casuais iriam querer adquirir planos anuais da Cyclistic?
3.	Como a Cyclistic pode usar a mídia digital para influenciar os passageiros casuais a se tornarem membros?

# Fase 2 - Preparar

●	<strong>Onde os dados estão localizados?</strong>\
    Os dados estão armazenados em um bucket na AWS s3.\
    \
●	<strong>Como os dados são organizados?</strong>\
    São 12 arquivos .csv oganizados por mês(08/2022 - 07/2023)\
    \
●	<strong>Existem problemas com viés ou credibilidade nesses dados? Seus dados são confiáveis, originais, abrangentes, atuais e incluem a fonte?</strong>\
    Os dados são originais e fornecidos pela empresa pela Motivate International Inc.\
    \
●	<strong>Como está o licenciamento, a privacidade, a segurança e a acessibilidade?</strong>\
    Os dados são publicos, a privacidade dos clientes está preservada, estão seguros no bucket da AWS S3 e a acessibilidade está bloqueada para acesso ao público.\

Foi escolhido o periodo dos ultimos 12 meses, arquivos .csv que contem informações como: ID do cliente, tipo de bicicleta(Classica ou Eletrica), duração do uso, nome e id das estações de embarque e desembarque, endereço das estações usando latitude e longitude e o tipo de cliente (casual ou membro)\
\
Ferramentas a serem utilizadas: AWS S3 Bucket, Excel, Python com Pandas e outras libs e Power Bi para geração de dashboards.\

# Fase 3 - Processamento de dados - ETL

## Extração e Import

In [1]:
#Importacoes de bibliotecas python
import boto3
import pandas as pd
import pandas as pd
from geopy.distance import great_circle

In [2]:
#Permitindo acesso ao bucket S3
s3 = boto3.client('s3', aws_access_key_id='AKIAS24XF4RW3XIWIYEY', aws_secret_access_key='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')

In [3]:
'''
    Codigo para verificar quais objetos estao no bucket selecionado!
'''
bucket_name = 'projetocyclistic'

# Listar os objetos no bucket
response = s3.list_objects(Bucket=bucket_name)

# Imprimir os caminhos dos objetos
for obj in response.get('Contents', []):
    print(obj['Key'])

Dados Brutos/202208.csv
Dados Brutos/202209.csv
Dados Brutos/202210.csv
Dados Brutos/202211.csv
Dados Brutos/202212.csv
Dados Brutos/202301.csv
Dados Brutos/202302.csv
Dados Brutos/202303.csv
Dados Brutos/202304.csv
Dados Brutos/202305.csv
Dados Brutos/202306.csv
Dados Brutos/202307.csv

In [4]:
#Extraindo csv e transformando em dataframes cada arquivo.
nome_bucket = 'projetocyclistic'
nome_pasta = "Dados Brutos/"
nome_arquivos = ['202208.csv', '202209.csv', '202210.csv', '202211.csv', '202212.csv',
              '202301.csv', '202302.csv', '202303.csv', '202304.csv', '202305.csv', '202306.csv', '202307.csv']
x = 0

#Extraindo csv e colocando com nome especifico cada em um dicionario.
for nome_arquivo in nome_arquivos:
    s3_object = s3.get_object(Bucket=nome_bucket, Key=nome_pasta + nome_arquivo)
    df_nome = 'df' + nome_arquivo.split('.')[0]
    
    exec(f'{df_nome} = pd.read_csv(s3_object["Body"], quoting=3)')
    
    x += 1
    print("Sucesso ", x)

Sucesso  1
Sucesso  2
Sucesso  3
Sucesso  4
Sucesso  5
Sucesso  6
Sucesso  7
Sucesso  8
Sucesso  9
Sucesso  10
Sucesso  11
Sucesso  12

## Analise exploratória

In [5]:
#Breve visualização do dataframe.
df202208.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,550CF7EFEAE0C618,electric_bike,2022-08-07 21:34:15,2022-08-07 21:41:46,NaN,NaN,NaN,NaN,41.93,-87.69,41.94,-87.72,casual
1,DAD198F405F9C5F5,electric_bike,2022-08-08 14:39:21,2022-08-08 14:53:23,NaN,NaN,NaN,NaN,41.89,-87.64,41.92,-87.64,casual
2,E6F2BC47B65CB7FD,electric_bike,2022-08-08 15:29:50,2022-08-08 15:40:34,NaN,NaN,NaN,NaN,41.97,-87.69,41.97,-87.66,casual
3,F597830181C2E13C,electric_bike,2022-08-08 02:43:50,2022-08-08 02:58:53,NaN,NaN,NaN,NaN,41.94,-87.65,41.97,-87.69,casual
4,0CE689BB4E313E8D,electric_bike,2022-08-07 20:24:06,2022-08-07 20:29:58,NaN,NaN,NaN,NaN,41.85,-87.65,41.84,-87.66,casual

In [6]:
#Obtendo informações do scheema
df202208.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785932 entries, 0 to 785931
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             785932 non-null  object
 1   rideable_type       785932 non-null  object
 2   started_at          785932 non-null  object
 3   ended_at            785932 non-null  object
 4   start_station_name  673895 non-null  object
 5   start_station_id    673895 non-null  object
 6   end_station_name    665410 non-null  object
 7   end_station_id      665410 non-null  object
 8   start_lat           785932 non-null  float64
 9   start_lng           785932 non-null  float64
 10  end_lat             785089 non-null  float64
 11  end_lng             785089 non-null  float64
 12  member_casual       785932 non-null  object
dtypes: float64(4), object(9)
memory usage: 78.0+ MB

In [8]:
#Criada coluna com a duração do uso pelos clientes.
df202208['duration_time'] = df202208['ended_at'] - df202208['started_at']

In [9]:
# Função para calcular a distância entre as coordenadas
import numpy as np

def calcular_distancia(row):
    start_lat = row['start_lat']
    start_lng = row['start_lng']
    end_lat = row['end_lat']
    end_lng = row['end_lng']

    # Verificar se as coordenadas são válidas
    if np.isnan(start_lat) or np.isnan(start_lng) or np.isnan(end_lat) or np.isnan(end_lng):
        return np.nan  # Ou outro valor que você preferir para indicar coordenadas inválidas

    # Calcular a distância se as coordenadas forem válidas
    start_coordinates = (start_lat, start_lng)
    end_coordinates = (end_lat, end_lng)
    return great_circle(start_coordinates, end_coordinates).miles

# Lista de nomes dos DataFrames
nomes_dataframes = ['df202208', 'df202209', 'df202210', 'df202211', 'df202212', 'df202301', 'df202302', 'df202303', 'df202304', 'df202305', 'df202306', 'df202307']

# Iterar pelos DataFrames e aplicar a função
x = 0
for nome_df in nomes_dataframes:
    df = globals()[nome_df]  # Obtém o DataFrame pelo nome
    df['distancia_percorrida_km'] = df.apply(calcular_distancia, axis=1)
    x += 1
    print("Sucesso ", x)

Sucesso  1
Sucesso  2
Sucesso  3
Sucesso  4
Sucesso  5
Sucesso  6
Sucesso  7
Sucesso  8
Sucesso  9
Sucesso  10
Sucesso  11
Sucesso  12

In [10]:
df202208.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785932 entries, 0 to 785931
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ride_id                  785932 non-null  object
 1   rideable_type            785932 non-null  object
 2   started_at               785932 non-null  datetime64[ns]
 3   ended_at                 785932 non-null  datetime64[ns]
 4   start_station_name       673895 non-null  object
 5   start_station_id         673895 non-null  object
 6   end_station_name         665410 non-null  object
 7   end_station_id           665410 non-null  object
 8   start_lat                785932 non-null  float64
 9   start_lng                785932 non-null  float64
 10  end_lat                  785089 non-null  float64
 11  end_lng                  785089 non-null  float64
 12  member_casual            785932 non-null  object
 13  duration_time            785932 non-null  timedelta64[ns]
 14  distancia_percorrida_km  785089 non-null  float64
dtypes: datetime64[ns](2), float64(5), object(7), timedelta64[ns](1)
memory usage: 89.9+ MB

In [11]:
df202210.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558685 entries, 0 to 558684
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ride_id                  558685 non-null  object
 1   rideable_type            558685 non-null  object
 2   started_at               558685 non-null  object
 3   ended_at                 558685 non-null  object
 4   start_station_name       467330 non-null  object
 5   start_station_id         467330 non-null  object
 6   end_station_name         462068 non-null  object
 7   end_station_id           462068 non-null  object
 8   start_lat                558685 non-null  float64
 9   start_lng                558685 non-null  float64
 10  end_lat                  558210 non-null  float64
 11  end_lng                  558210 non-null  float64
 12  member_casual            558685 non-null  object
 13  distancia_percorrida_km  558210 non-null  float64
dtypes: float64(5), object(9)
memory usage: 59.7+ MB